.contact-body {
  margin: 0;
  padding: 0;
  display: flex;
  background-image: url("../img/bg_update/4.jpg");
  background-repeat: no-repeat;
}
.contact-body .contact-nav {
  width: 100vw;
  height: 100vh;
  padding: 10px;
  margin-top: 200px;
  overflow: hidden;
  position: fixed;
}
.contact-body .contact-nav .contact-ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}
.contact-body .contact-nav .contact-ul .contact-li {
  display: flex;
  flex-direction: column;
  padding: 15px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.6s;
  margin: 25px;
  border-radius: 15px;
  color: rgb(238, 78, 250);
  text-shadow: 0 0 7px rgb(0, 0, 0), 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgba(208, 0, 255, 0.362), 0 0 82px rgb(255, 0, 234), 0 0 92px rgba(144, 0, 255, 0.53), 0 0 102px rgb(217, 0, 255), 0 0 151px rgba(170, 0, 255, 0.365);
}
.contact-body .contact-nav .contact-ul .contact-li:hover {
  color: #000000;
  padding: 30px;
  background: #f76ff0;
  opacity: 0.5;
  box-shadow: 0 3px 10px #a76193, 0 0 40px #8833d3, 0 0 80px #be84f1;
  background-color: #be84f1;
}
.contact-body .contact-nav .contact-ul .fa-brands:hover {
  font-size: 70px;
  transition: 5s;
}
.contact-body .contact-nav .contact-ul .fa-brands, .contact-body .contact-nav .contact-ul .fa-regular {
  font-size: 50px;
  color: #6aff00;
}
.contact-body .contact-nav .subscribe {
  width: 300px;
  height: 200px;
  padding: 20px;
  margin-top: 200px;
  padding-bottom: 60px;
  overflow: hidden;
  position: fixed;
  border-radius: 20px;
  color: rgb(238, 78, 250);
  text-shadow: 0 0 7px rgb(0, 0, 0), 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgba(208, 0, 255, 0.362), 0 0 82px rgb(255, 0, 234), 0 0 92px rgba(144, 0, 255, 0.53), 0 0 102px rgb(217, 0, 255), 0 0 151px rgba(170, 0, 255, 0.365);
}
.contact-body .contact-nav .subscribe .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 15px;
  overflow: hidden;
  transition: 0.6s;
  margin: 25px;
  font-family: "Montserrat Alternates", sans-serif;
}
.contact-body .contact-nav .subscribe .form .formStyle {
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  background-color: transparent;
  opacity: 0.8;
  border-radius: 50px;
  color: rgb(238, 78, 250);
  text-shadow: 0 0 7px rgb(0, 0, 0), 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgba(208, 0, 255, 0.362), 0 0 82px rgb(255, 0, 234), 0 0 92px rgba(144, 0, 255, 0.53), 0 0 102px rgb(217, 0, 255), 0 0 151px rgba(170, 0, 255, 0.365);
}
.contact-body .contact-nav .subscribe .form .formButton {
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding: 8px;
  border: 1px solid green;
  border-radius: 20px;
  width: 110px;
  font-size: 13px;
  color: #6aff00;
  background: transparent;
  color: rgb(238, 78, 250);
  text-shadow: 0 0 7px rgb(0, 0, 0), 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgba(208, 0, 255, 0.362), 0 0 82px rgb(255, 0, 234), 0 0 92px rgba(144, 0, 255, 0.53), 0 0 102px rgb(217, 0, 255), 0 0 151px rgba(170, 0, 255, 0.365);
}
.contact-body .contact-nav .subscribe .form input::-moz-placeholder {
  color: #0fa;
}
.contact-body .contact-nav .subscribe .form input:-ms-input-placeholder {
  color: #0fa;
}
.contact-body .contact-nav .subscribe .form input::placeholder {
  color: #0fa;
}
.contact-body .contact-nav .subscribe .formButton:hover {
  transition: 0.5s;
  background: transparent;
  opacity: 0.8;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0 0 10px #6ff76f, 0 0 30px #6ff76f, 0 0 50px #6ff76f;
}
.contact-body .contact-nav .subscribe .formStyle:hover {
  transition: 0.5s;
  background: transparent;
  opacity: 0.8;
  color: rgb(238, 78, 250);
  text-shadow: 0 0 7px rgb(0, 0, 0), 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgba(208, 0, 255, 0.362), 0 0 82px rgb(255, 0, 234), 0 0 92px rgba(144, 0, 255, 0.53), 0 0 102px rgb(217, 0, 255), 0 0 151px rgba(170, 0, 255, 0.365);
}
.contact-body .top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: transparent;
  height: 50px;
  position: relative !important;
  margin-bottom: 0px !important;
  padding: 15px;
  font-family: "Montserrat Alternates", sans-serif;
  width: 100vw;
}
.contact-body .menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.contact-body .menu > li {
  margin: 0 1rem;
  overflow: hidden;
  padding: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
  overflow: hidden;
  transition: 0.6s;
  letter-spacing: 3px;
  border-radius: 15px;
  color: rgb(238, 78, 250);
  text-shadow: 0 0 7px rgb(0, 0, 0), 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgba(208, 0, 255, 0.362), 0 0 82px rgb(255, 0, 234), 0 0 92px rgba(144, 0, 255, 0.53), 0 0 102px rgb(217, 0, 255), 0 0 151px rgba(170, 0, 255, 0.365);
}
.contact-body .menu > li a {
  text-decoration: none;
  color: #df7fc4;
}
.contact-body .menu > li:hover {
  color: #000000;
  background: #be84f1;
  opacity: 0.5;
  box-shadow: 0 3px 10px #a76193, 0 0 40px #8833d3, 0 0 80px #be84f1;
  background-color: #be84f1;
}

.contact-body .menu > li a:hover {

  color: black;
  
}
.contact-body .menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-body #menu-toggle {
  display: none;
}
.contact-body .menu-button,
.contact-body .menu-button::before,
.contact-body .menu-button::after {
  display: block;
  background-color: #0fa;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.contact-body .menu-button::before {
  content: "";
  margin-top: -8px;
}
.contact-body .menu-button::after {
  content: "";
  margin-top: 8px;
}
.contact-body #menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}
.contact-body #menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}
.contact-body #menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
@media (max-width: 700px) {
  .contact-body .menu-button-container {
    display: flex;
  }
  .contact-body .menu {
    position: fixed;
    width: 100vw;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .contact-body #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: 0.8s;
    border-radius: unset;
  }
  .contact-body #menu-toggle:checked ~ .menu li {
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .contact-body .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    color: white;
    background-image: url("../img/bg4.JPEG");
  }
  .contact-body .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  .contact-body .menu > li:hover {
    color: #000000;
    background: #06f7e3;
    transition: 0.5s;
  }
  .contact-body .contact-nav {
    width: unset;
    width: 100vw;
  }
  .contact-body .contact-nav .contact-ul {
    all: unset;
    display: flex;
    flex-direction: column;
    width: unset;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }
  .contact-body .contact-nav .contact-ul .contact-li {
    all: unset;
    margin: 10px;
    padding-top: 15px;
    transition: 0.6s;
    color: rgb(238, 78, 250);
    text-shadow: 0 0 7px rgb(0, 0, 0), 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgba(208, 0, 255, 0.362), 0 0 82px rgb(255, 0, 234), 0 0 92px rgba(144, 0, 255, 0.53), 0 0 102px rgb(217, 0, 255), 0 0 151px rgba(170, 0, 255, 0.365);
  }
  .contact-body .contact-nav .contact-ul .subscribe {
    all: unset;
    margin-top: 50px;
    padding-bottom: 50px;
    width: 100vw;
  }
}
@media (max-width: 768px) {
  .contact-body .top-nav .menu li {
    margin: unset;
  }
  .contact-body .top-nav .menu li > a {
    justify-content: center;
    font-size: unset;
    font-size: 10px;
  }
}/*# sourceMappingURL=contact.css.map */