.bg {
  background: url("../img/bgmain.jpeg") fixed;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -3;
}

.bg:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0.3;
}

@-webkit-keyframes sf-fly-by-1 {
  from {
    transform: translateZ(-600px);
    opacity: 0.5;
  }
  to {
    transform: translateZ(0);
    opacity: 0.5;
  }
}

@keyframes sf-fly-by-1 {
  from {
    transform: translateZ(-600px);
    opacity: 0.5;
  }
  to {
    transform: translateZ(0);
    opacity: 0.5;
  }
}
@-webkit-keyframes sf-fly-by-2 {
  from {
    transform: translateZ(-1200px);
    opacity: 0.5;
  }
  to {
    transform: translateZ(-600px);
    opacity: 0.5;
  }
}
@keyframes sf-fly-by-2 {
  from {
    transform: translateZ(-1200px);
    opacity: 0.5;
  }
  to {
    transform: translateZ(-600px);
    opacity: 0.5;
  }
}
@-webkit-keyframes sf-fly-by-3 {
  from {
    transform: translateZ(-1800px);
    opacity: 0.5;
  }
  to {
    transform: translateZ(-1200px);
    opacity: 0.5;
  }
}
@keyframes sf-fly-by-3 {
  from {
    transform: translateZ(-1800px);
    opacity: 0.5;
  }
  to {
    transform: translateZ(-1200px);
    opacity: 0.5;
  }
}
.star-field {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: 600px;
  -webkit-perspective: 600px;
  z-index: -1;
}

.star-field .layer {
  box-shadow: -411px -476px #cccccc, 777px -407px #d4d4d4, -387px -477px #fcfcfc, -91px -235px #d4d4d4, 491px -460px #f7f7f7, 892px -128px #f7f7f7, 758px -277px #ededed, 596px 378px #cccccc, 647px 423px whitesmoke, 183px 389px #c7c7c7, 524px -237px #f0f0f0, 679px -535px #e3e3e3, 158px 399px #ededed, 157px 249px #ededed, 81px -450px #ebebeb, 719px -360px #c2c2c2, -499px 473px #e8e8e8, -158px -349px #d4d4d4, 870px -134px #cfcfcf, 446px 404px #c2c2c2, 440px 490px #d4d4d4, 414px 507px #e6e6e6, -12px 246px #fcfcfc, -384px 369px #e3e3e3, 641px -413px #fcfcfc, 822px 516px #dbdbdb, 449px 132px #c2c2c2, 727px 146px #f7f7f7, -315px -488px #e6e6e6, 952px -70px #e3e3e3, -869px -29px #dbdbdb, 502px 80px #dedede, 764px 342px #e0e0e0, -150px -380px #dbdbdb, 654px -426px #e3e3e3, -325px -263px #c2c2c2, 755px -447px #c7c7c7, 729px -177px #c2c2c2, -682px -391px #e6e6e6, 554px -176px #ededed, -85px -428px #d9d9d9, 714px 55px #e8e8e8, 359px -285px #cfcfcf, -362px -508px #dedede, 468px -265px #fcfcfc, 74px -500px #c7c7c7, -514px 383px #dbdbdb, 730px -92px #cfcfcf, -112px 287px #c9c9c9, -853px 79px #d6d6d6, 828px 475px #d6d6d6, -681px 13px #fafafa, -176px 209px #f0f0f0, 758px 457px #fafafa, -383px -454px #ededed, 813px 179px #d1d1d1, 608px 98px whitesmoke, -860px -65px #c4c4c4, -572px 272px #f7f7f7, 459px 533px #fcfcfc, 624px -481px #e6e6e6, 790px 477px #dedede, 731px -403px #ededed, 70px -534px #cccccc, -23px 510px #cfcfcf, -652px -237px whitesmoke, -690px 367px #d1d1d1, 810px 536px #d1d1d1, 774px 293px #c9c9c9, -362px 97px #c2c2c2, 563px 47px #dedede, 313px 475px #e0e0e0, 839px -491px #e3e3e3, -217px 377px #d4d4d4, -581px 239px #c2c2c2, -857px 72px #cccccc, -23px 340px #dedede, -837px 246px white, 170px -502px #cfcfcf, 822px -443px #e0e0e0, 795px 497px #e0e0e0, -814px -337px #cfcfcf, 206px -339px #f2f2f2, -779px 108px #e6e6e6, 808px 2px #d4d4d4, 665px 41px #d4d4d4, -564px 64px #cccccc, -380px 74px #cfcfcf, -369px -60px #f7f7f7, 47px -495px #e3e3e3, -383px 368px #f7f7f7, 419px 288px #d1d1d1, -598px -50px #c2c2c2, -833px 187px #c4c4c4, 378px 325px whitesmoke, -703px 375px #d6d6d6, 392px 520px #d9d9d9, -492px -60px #c4c4c4, 759px 288px #ebebeb, 98px -412px #c4c4c4, -911px -277px #c9c9c9;
  transform-style: preserve-3d;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 4px;
  width: 4px;
  border-radius: 2px;
}

.star-field .layer:nth-child(1) {
  -webkit-animation: sf-fly-by-1 120s infinite;
          animation: sf-fly-by-1 120s infinite;
}

.star-field .layer:nth-child(2) {
  -webkit-animation: sf-fly-by-2 10s linear infinite;
          animation: sf-fly-by-2 10s linear infinite;
}

.star-field .layer:nth-child(3) {
  -webkit-animation: sf-fly-by-3 10s infinite;
          animation: sf-fly-by-3 10s infinite;
}

.about-body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/bg4.JPEG");
  background-attachment: fixed;
}
.about-body .top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  height: 50px;
  position: relative !important;
  margin-bottom: 0px !important;
  padding: 15px;
  font-family: "Montserrat Alternates", sans-serif;
}
.about-body .menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.about-body .menu > li {
  margin: 0 1rem;
  overflow: hidden;
  padding: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
  overflow: hidden;
  transition: 0.6s;
  letter-spacing: 3px;
  border-radius: 15px;
  color: rgb(112, 250, 78);
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}
.about-body .menu > li a {
  text-decoration: none;
  color: #6ff76f;
}
.about-body .menu > li:hover {
  color: #000000;
  background: #6ff76f;
  opacity: 0.5;
  box-shadow: 0 0 10px #6aff00, 0 0 40px #6aff00, 0 0 80px #6aff00;
}
.about-body .menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-body #menu-toggle {
  display: none;
}
.about-body .menu-button,
.about-body .menu-button::before,
.about-body .menu-button::after {
  display: block;
  background-color: #0fa;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.about-body .menu-button::before {
  content: "";
  margin-top: -8px;
}
.about-body .menu-button::after {
  content: "";
  margin-top: 8px;
}
.about-body #menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}
.about-body #menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}
.about-body #menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
@media (max-width: 700px) {
  .about-body .menu-button-container {
    display: flex;
  }
  .about-body .menu {
    position: fixed;
    width: 100vw;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .about-body #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: 0.8s;
    border-radius: unset;
  }
  .about-body #menu-toggle:checked ~ .menu li {
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .about-body .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    color: white;
    background-image: url("../img/bg4.JPEG");
  }
  .about-body .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  .about-body .menu > li:hover {
    color: #000000;
    background: #06f7e3;
    transition: 0.5s;
  }
}
@media (max-width: 768px) {
  .about-body .top-nav .menu li {
    margin: unset;
  }
  .about-body .top-nav .menu li > a {
    justify-content: center;
    font-size: unset;
    font-size: 10px;
  }
}
.about-body .about-container {
  display: flex;
  flex-direction: column;
  z-index: 1;
  margin: 100px;
  border-radius: 20px;
  width: 40rem;
  font-family: "Raleway", serif;
  letter-spacing: 0.8px;
  font-size: 18px;
  background-color: rgb(192, 246, 246);
  opacity: 0.5;
  height: 100%;
  box-shadow: inset 7px 10px 10px #8d8d8d, inset -13px -13px 17px #ffffff;
}
.about-body .about-container .bio-text, .about-body .about-container .qoute {
  color: rgb(0, 0, 0);
  font-weight: 700;
}
.about-body .about-container .bio-text {
  margin: 50px;
}
.about-body .about-container .qoute {
  margin-left: 50px;
}
.about-body .about-container .text2 {
  margin-bottom: 200px;
}

@media all and (min-width: 200px) and (max-width: 480px) {
  .about-body .about-container {
    width: unset;
    width: 100vw;
  }
}
.music-body {
  margin: 0;
  padding: 0;
  display: flex;
  background-image: url("../img/bg3.JPEG");
  background-repeat: no-repeat;
}
.music-body .music-nav {
  width: 100vw;
  height: 100vh;
  padding: 10px;
  margin-top: 300px;
  overflow: hidden;
  position: fixed;
}
.music-body .music-nav .music-ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}
.music-body .music-nav .music-ul .music-li {
  display: flex;
  flex-direction: column;
  padding: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 15px;
  overflow: hidden;
  transition: 0.6s;
  margin: 25px;
  font-family: "Montserrat Alternates", sans-serif;
  letter-spacing: 3px;
  border-radius: 15px;
  text-decoration: none;
  color: rgb(112, 250, 78);
  text-shadow: 0 0 7px rgb(0, 0, 0), 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}
.music-body .music-nav .music-ul .music-li:hover {
  color: #000000;
  padding: 30px;
  background: #6ff76f;
  opacity: 0.5;
  box-shadow: 0 0 10px #6aff00, 0 0 40px #6aff00, 0 0 80px #6aff00;
}
.music-body .music-nav .music-ul .fa-brands:hover {
  font-size: 70px;
  transition: 5s;
}
.music-body .music-nav .music-ul .fa-brands {
  font-size: 50px;
  color: #6aff00;
}
.music-body .top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: transparent;
  height: 50px;
  position: relative !important;
  margin-bottom: 0px !important;
  padding: 15px;
  font-family: "Montserrat Alternates", sans-serif;
  width: 100vw;
}
.music-body .menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.music-body .menu > li {
  margin: 0 1rem;
  overflow: hidden;
  padding: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
  overflow: hidden;
  transition: 0.6s;
  letter-spacing: 3px;
  border-radius: 15px;
  color: rgb(112, 250, 78);
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}
.music-body .menu > li a {
  text-decoration: none;
  color: #6ff76f;
}
.music-body .menu > li:hover {
  color: #000000;
  background: #6ff76f;
  opacity: 0.5;
  box-shadow: 0 0 10px #6aff00, 0 0 40px #6aff00, 0 0 80px #6aff00;
}
.music-body .menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.music-body #menu-toggle {
  display: none;
}
.music-body .menu-button,
.music-body .menu-button::before,
.music-body .menu-button::after {
  display: block;
  background-color: #0fa;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.music-body .menu-button::before {
  content: "";
  margin-top: -8px;
}
.music-body .menu-button::after {
  content: "";
  margin-top: 8px;
}
.music-body #menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}
.music-body #menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}
.music-body #menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
@media (max-width: 700px) {
  .music-body .menu-button-container {
    display: flex;
  }
  .music-body .menu {
    position: fixed;
    width: 100vw;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .music-body #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: 0.8s;
    border-radius: unset;
  }
  .music-body #menu-toggle:checked ~ .menu li {
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .music-body .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    color: white;
    background-image: url("../img/bg4.JPEG");
  }
  .music-body .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  .music-body .menu > li:hover {
    color: #000000;
    background: #06f7e3;
    transition: 0.5s;
  }
  .music-body .music-nav {
    margin: unset;
    margin-top: 50%;
  }
  .music-body .music-nav .music-ul {
    margin: unset;
    padding: unset;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .music-body .music-nav .music-ul .music-li {
    margin: unset;
    padding: unset;
    margin: 15px;
    padding: 15px;
  }
}
@media (max-width: 768px) {
  .music-body .top-nav .menu li {
    margin: unset;
  }
  .music-body .top-nav .menu li > a {
    justify-content: center;
    font-size: unset;
    font-size: 10px;
  }
  .music-body .music-ul {
    flex-wrap: wrap;
  }
}

* {
  margin: 0;
  padding: 0;
}

.main-body {
  background-color: rgb(14, 13, 13);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin-left: 30%;
  font-family: "Montserrat Alternates", sans-serif;
}
.main-body .container {
  height: 90vh;
}
.main-body .container .pic-1 {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  width: 30vw;
}
.main-body .container .card {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 50%;
}
.main-body .container .card li {
  margin: 45px;
  list-style: none;
}
.main-body .container .card .neon-button {
  position: relative;
  padding: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  transition: 0.6s;
  margin: 10px;
  border-radius: 15px;
  text-decoration: none;
  color: rgb(112, 250, 78);
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}
.main-body .container .card .neon-button:hover {
  color: #000000;
  background: #6ff76f;
  opacity: 0.5;
  box-shadow: 0 0 10px #6aff00, 0 0 40px #6aff00, 0 0 80px #6aff00;
}

@media all and (min-width: 200px) and (max-width: 480px) {
  .main-body {
    margin: 0;
    padding: 0;
  }
  .main-body .container {
    margin: unset;
    padding: unset;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-body .container .img {
    all: unset;
    margin-top: 30px;
  }
  .main-body .container .img .pic {
    all: unset;
    width: 150px;
  }
  .main-body .container .card {
    margin: unset;
  }
  .main-body .container .card ul li {
    margin: unset;
    margin: 30px;
  }
  .main-body .container .card ul li .neon-button {
    font-size: 18px;
  }
}
@media all and (min-width: 480px) and (max-width: 768px) {
  .main-body {
    margin: unset;
    padding: unset;
  }
  .main-body .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .main-body .container .img .pic {
    all: unset;
    width: 250px;
    margin-top: 120px;
  }
  .main-body .container .card {
    margin: unset;
    padding: unset;
  }
  .main-body .container .card ul li .neon-button {
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.2);
  }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  .main-body {
    margin: unset;
    padding: unset;
  }
  .main-body .container {
    margin: unset;
    padding: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .main-body .container .img .pic {
    all: unset;
    width: 400px;
    justify-content: center;
  }
  .main-body .container .card {
    height: 400px;
  }
  .main-body .container .card ul li {
    margin: unset;
    padding: unset;
    margin: 50px;
  }
  .main-body .container .card ul li .neon-button {
    font-size: 20px;
    font-weight: 500;
  }
}
@media all and (min-width: 1024px) and (max-width: 1280px) {
  .main-body {
    margin: unset;
    padding: unset;
  }
  .main-body .container {
    margin: unset;
    padding: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .main-body .container .img .pic {
    all: unset;
    width: 400px;
    justify-content: center;
    margin-left: 120px;
  }
  .main-body .container .card {
    height: 700px;
  }
  .main-body .container .card ul li .neon-button {
    font-size: 20px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1440px) {
  .main-body {
    margin: unset;
    padding: unset;
  }
  .main-body .container {
    margin: unset;
    padding: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .main-body .container .img {
    margin-left: 100%;
  }
  .main-body .container .img .pic {
    all: unset;
    width: 400px;
    justify-content: center;
  }
  .main-body .container .card {
    height: 600px;
  }
  .main-body .container .card ul li .neon-button {
    font-size: 20px;
  }
}/*# sourceMappingURL=main.css.map */