body {
    font-family: "Montserrat Alternates", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    background-image: url("../img/update/Home.jpg");
    background-position:center;
    background-size: 100vw;
    
}

.header-image {
    background-image: url("../img/update/header.jpg");
    height: 300px;
    background-position: center;
} 

nav {
    background-color: transparent;
    position: fixed; /* Stick the navbar to the top */
    width: 100%;
    height: 5%;
    padding-top: 10px;
    z-index: 3;
}

nav ul {
    list-style-type: none;
    padding: 20px;
    text-align: center;
    margin: 0 15px;
    
    
}

nav li {
    
    display: inline;
    margin: 0 15px;
    background-color: rgb(224, 250, 109);
    font-size: 18px;
    padding: 15px;
    border-radius: 20%;
    border: 2px black solid;
    box-shadow: 1px 4px 1px 4px rgb(83, 252, 210);
}

nav a {
    text-decoration: none;
    color: rgb(7, 6, 6);
    font-weight: bold;
}

section {
    padding: 40px;
    text-align: center;
}

p{
    font-family: 'Source Code Pro', monospace;
}

.bio {
    max-width: 800px;
    margin: 0 auto;
    }

.music-ul {
    display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.music-li {
    
    display: flex;
  flex-direction: column;
  
}

.socials {
    display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.social-li {

    display: flex;
  flex-direction: column;
}

.fa-brands {
    font-size: 40px;
    margin:10px;
    color: aquamarine;
    background-color: black;
    padding: 10px;
    border-radius: 40%;
}
.video-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
    z-index: 2;
  }
  .video-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  

.tour-section{

    font-family: 'Source Code Pro', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-name {

    border: 2px solid rgb(32, 31, 27);
    padding: 10px;
}

.past-shows, .upcoming li{

    list-style: none;
}

.past-shows li, .upcoming li {
    padding: 7px;
    border-bottom: 1px solid rgb(35, 35, 29);
}





footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
}


@media (max-width: 736px) {


.bodyy {
  background-image: url("../img/update/small.jpg");
  background-repeat:repeat;
  background-position: unset;
  background-size: 10px;
}

 .header-image{

  background-size:150%;
  background-color: #222;
  height: 120px;
  background-repeat:inherit;
  background-position: unset;
 }

    h1 {
        font-size: 2em;
    }

    nav ul {
        padding: 1px;
    }

    nav li {
        margin: 1px;
        padding: 5px;

        border: 2px solid red;

        
    }
    nav a {

        font-size: 1px;

        }

        .music-ul {
          display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
      
     
    section {
        padding: 50px;
        background-image: url("../img/update/small.jpg");
        background-size: 100%;
        background-position: center;
    }

  

    .bio {
      max-width: 50%;

        
    }
    p {
      font-size: 10px;
      font-weight: bolder;
      margin: 50px;


    }

    #tour {

        background-image: url("../img/update/small.jpg");
        background-size: 120%;
        background-position: center;
        font-size: 13px;
      }
    
    
    
      .past-shows, .upcoming {
    
        font-size: 12px;
        margin: 50px;
      }
    

  

    footer {
        padding: 10px;
    }
}
@media (max-width: 568px) {
  
  header {
      padding: 10px;
  }

  

  nav ul {
      padding: 1px;
  }

  nav li {
      margin: 0;
      padding: 5px;

      
  }
  nav a {

      font-size: 13px;

      }

      .music-ul {
        display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    
   
  section {
      padding: 20px;
  }

  .bio {
      max-width: 90%;
  }

  #tour {

    background-image: url("../img/update/small.jpg");
    background-size: 120%;
    background-position: center;
    font-size: 13px;
  }



  .past-shows, .upcoming {

    font-size: 12px;
    margin: 50px;
  }

 

  footer {
      padding: 10px;
  }
}
