.music-body {
  margin: 0;
  padding: 0;
  display: flex;
  background-image: url("../img/bg_update/2.jpg");
  background-repeat: fixed;
}
.music-body .music-nav {
  width: 100vw;
  height: 100vh;
  padding: 10px;
  margin-top: 300px;
  overflow: hidden;
  position: fixed;
}
.music-body .music-nav .music-ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}
.music-body .music-nav .music-ul .music-li {
  display: flex;
  flex-direction: column;
  padding: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 15px;
  overflow: hidden;
  transition: 0.6s;
  margin: 25px;
  font-family: "Montserrat Alternates", sans-serif;
  letter-spacing: 3px;
  border-radius: 15px;
  text-decoration: none;
  color: rgb(238, 78, 250);
  text-shadow: 0 0 7px rgb(0, 0, 0), 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgba(208, 0, 255, 0.362), 0 0 82px rgb(255, 0, 234), 0 0 92px rgba(144, 0, 255, 0.53), 0 0 102px rgb(217, 0, 255), 0 0 151px rgba(170, 0, 255, 0.365);
}
.music-body .music-nav .music-ul .music-li:hover {
  color: #000000;
  padding: 30px;
  background: #f76ff3;
  opacity: 0.5;
}
.music-body .music-nav .music-ul .fa-brands:hover {
  font-size: 70px;
  transition: 5s;
}
.music-body .music-nav .music-ul .fa-brands {
  font-size: 50px;
  color: #6aff00;
}
.music-body .top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: transparent;
  height: 50px;
  position: relative !important;
  margin-bottom: 0px !important;
  padding: 15px;
  font-family: "Montserrat Alternates", sans-serif;
  width: 100vw;
}
.music-body .menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.music-body .menu > li {
  margin: 0 1rem;
  overflow: hidden;
  padding: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
  overflow: hidden;
  transition: 0.6s;
  letter-spacing: 3px;
  border-radius: 15px;
  color: rgb(205, 5, 216);
}
.music-body .menu > li a {
  text-decoration: none;
  color: #df7fc4;
}
.music-body .menu > li:hover {
  transition: all 0.5s;
  box-shadow: 0 3px 10px #a76193, 0 0 40px #8833d3, 0 0 80px #be84f1;
  background-color: #be84f1;
}

.music-body .menu > li a:hover {

  color: black;
  font-weight: bolder;
}
.music-body .menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.music-body #menu-toggle {
  display: none;
}
.music-body .menu-button,
.music-body .menu-button::before,
.music-body .menu-button::after {
  display: block;
  background-color: #0fa;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.music-body .menu-button::before {
  content: "";
  margin-top: -8px;
}
.music-body .menu-button::after {
  content: "";
  margin-top: 8px;
}
.music-body #menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}
.music-body #menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}
.music-body #menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
@media (max-width: 700px) {
  .music-body .menu-button-container {
    display: flex;
  }
  .music-body .menu {
    position: fixed;
    width: 100vw;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .music-body #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: 0.8s;
    border-radius: unset;
  }
  .music-body #menu-toggle:checked ~ .menu li {
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .music-body .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    color: white;
    background-image: url("../img/bg4.JPEG");
  }
  .music-body .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  .music-body .menu > li:hover {
    color: #000000;
    background: #06f7e3;
    transition: 0.5s;
  }
  .music-body .music-nav {
    margin: unset;
    margin-top: 50%;
  }
  .music-body .music-nav .music-ul {
    margin: unset;
    padding: unset;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .music-body .music-nav .music-ul .music-li {
    margin: unset;
    padding: unset;
    margin: 15px;
    padding: 15px;
  }
}
@media (max-width: 768px) {
  .music-body .top-nav .menu li {
    margin: unset;
  }
  .music-body .top-nav .menu li > a {
    justify-content: center;
    font-size: unset;
    font-size: 10px;
  }
  .music-body .music-ul {
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=music.css.map */