.shows-body {
  margin: 0;
  padding: 0;
  background-image: url("../img/bg_update/5.jpg");
  background-repeat: no-repeat;
  font-family: "Montserrat Alternates", sans-serif;
}
.shows-body .container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
.shows-body .container .box {
  padding: 30px;
  color: #df7fc4;;
}
.shows-body .container .box p {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 30px;
  margin-bottom: 80px;
}
.shows-body .top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: transparent;
  height: 50px;
  position: relative !important;
  margin-bottom: 0px !important;
  padding: 15px;
  font-family: "Montserrat Alternates", sans-serif;
  width: 100vw;
}
.shows-body .menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.shows-body .menu > li {
  margin: 0 1rem;
  overflow: hidden;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
  overflow: hidden;
  transition: 0.6s;
  letter-spacing: 3px;
  border-radius: 15px;
  color: rgb(205, 5, 216);
  
}
.shows-body .menu > li a {
  text-decoration: none;
  color: #df7fc4;
  letter-spacing: 4px;

}
.shows-body .menu > li a:hover {

  color: black;
  font-weight: bolder;
}
.shows-body .menu > li:hover {
  transition: all 0.5s;
  box-shadow: 0 3px 10px #a76193, 0 0 40px #8833d3, 0 0 80px #be84f1;
  background-color: #be84f1;
}
.shows-body .menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shows-body #menu-toggle {
  display: none;
}
.shows-body .menu-button,
.shows-body .menu-button::before,
.shows-body .menu-button::after {
  display: block;
  background-color: #0fa;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.shows-body .menu-button::before {
  content: "";
  margin-top: -8px;
}
.shows-body .menu-button::after {
  content: "";
  margin-top: 8px;
}
.shows-body #menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}
.shows-body #menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}
.shows-body #menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
@media (max-width: 700px) {
  .shows-body .menu-button-container {
    display: flex;
  }
  .shows-body .menu {
    position: fixed;
    width: 100vw;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .shows-body #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: 0.8s;
    border-radius: unset;
  }
  .shows-body #menu-toggle:checked ~ .menu li {
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .shows-body .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    color: white;
    background-image: url("../img/bg4.JPEG");
  }
  .shows-body .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  .shows-body .menu > li:hover {
    color: #000000;
    background: #06f7e3;
    transition: 0.5s;
  }
  .shows-body .contact-nav {
    width: unset;
    width: 100vw;
  }
  .shows-body .contact-nav .contact-ul {
    all: unset;
    display: flex;
    flex-direction: column;
    width: unset;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }
  .shows-body .contact-nav .contact-ul .contact-li {
    all: unset;
    margin: 10px;
    padding-top: 15px;
    transition: 0.6s;
    color: rgb(112, 250, 78);
    text-shadow: 0 0 7px rgb(0, 0, 0), 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 50px #0fa, 0 0 50px #0fa, 0 0 12px #0fa, 0 0 11px #0fa;
  }
  .shows-body .contact-nav .contact-ul .subscribe {
    all: unset;
    margin-top: 50px;
    padding-bottom: 50px;
    width: 100vw;
  }
}
@media (max-width: 768px) {
  .shows-body .top-nav .menu li {
    margin: unset;
  }
  .shows-body .top-nav .menu li > a {
    justify-content: center;
    font-size: unset;
    font-size: 10px;
  }
}/*# sourceMappingURL=shows.css.map */