.video-body {
  padding: 0;
  margin: 0;
  background-image: url("../img/bg_update/3.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.video-body .top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  height: 50px;
  padding: 15px;
  font-family: "Montserrat Alternates", sans-serif;
}
.video-body .menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 0;
  padding: 0;
}
.video-body .menu > li {
  margin: 2.5rem 1rem 2.5rem 1rem;
  overflow: hidden;
  padding: 15px;
  text-transform: uppercase;
  font-size: 15px;
  overflow: hidden;
  transition: 0.6s;
  letter-spacing: 3px;
  border-radius: 15px;
  color: rgb(238, 78, 250);
  text-shadow: 0 0 7px rgb(0, 0, 0), 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgba(208, 0, 255, 0.362), 0 0 82px rgb(255, 0, 234), 0 0 92px rgba(144, 0, 255, 0.53), 0 0 102px rgb(217, 0, 255), 0 0 151px rgba(170, 0, 255, 0.365);
}
.video-body .menu > li a {
  text-decoration: none;
  color: #df7fc4;
}
.video-body .menu > li:hover {
  transition: all 0.5s;
  box-shadow: 0 3px 10px #a76193, 0 0 40px #8833d3, 0 0 80px #be84f1;
  background-color: #be84f1;
}

.video-body .menu > li a:hover {

  color: black;
}
.video-body .menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.video-body #menu-toggle {
  display: none;
}
.video-body .menu-button,
.video-body .menu-button::before,
.video-body .menu-button::after {
  display: block;
  background-color: rgb(221, 0, 255);
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.video-body .menu-button::before {
  content: "";
  margin-top: -8px;
}
.video-body .menu-button::after {
  content: "";
  margin-top: 8px;
}
.video-body #menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}
.video-body #menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}
.video-body #menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
@media (max-width: 700px) {
  .video-body .menu-button-container {
    display: flex;
  }
  .video-body .menu {
    position: fixed;
    width: 100vw;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .video-body #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: 0.8s;
    border-radius: unset;
  }
  .video-body #menu-toggle:checked ~ .menu li {
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .video-body .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    color: white;
    background-image: url("../img/bg4.JPEG");
  }
  .video-body .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  .video-body .menu > li:hover {
    color: #000000;
    background: #af06f7;
    transition: 0.5s;
  }
}
@media (max-width: 768px) {
  .video-body .top-nav .menu li > a {
    justify-content: center;
    font-size: unset;
    font-size: 10px;
  }
  .video-body .video-players .youtube {
    margin-bottom: 80px;
  }
}
.video-body .video-players {
  margin-top: 10%;
}
.video-body .video-players .youtube {
  justify-content: center;
  align-items: center;
  margin-left: 15%;
  margin-bottom: 5%;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.video-body .video-players .youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
}/*# sourceMappingURL=videos.css.map */