@import '_background';
@import 'about';
@import 'music';



* {
  margin: 0;
  padding: 0;
}

.main-body{

  background-color: rgb(14, 13, 13);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin-left: 30%;
  font-family: 'Montserrat Alternates', sans-serif;


  .container {
    height: 90vh;
    
    .pic-1 {

      float: left;
      display: flex;
      justify-content: center;
      align-items: center;
      position: sticky;
      width: 30vw;
      
    }

    .card {
      display: flex;
      flex-direction: column;
      height: 100vh;
      margin-top:  50%;

      li {
        margin: 45px;
        list-style: none;
      }

      .neon-button {
        position: relative;
        padding: 15px 30px;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-decoration: none;
        font-size: 20px;
        overflow: hidden;
        transition: 0.6s;
        margin: 10px;
        border-radius: 15px;
        text-decoration: none;
          color: rgb(112, 250, 78);
          text-shadow:
              0 0 7px #fff,
              0 0 10px #fff,
              0 0 21px #fff,
              0 0 42px #0fa,
              0 0 82px #0fa,
              0 0 92px #0fa,
              0 0 102px #0fa,
              0 0 151px #0fa;

       
      
       
      }

      .neon-button:hover {
        color: #000000;
        background: rgba($color: #6ff76f, $alpha: 1.0);
        opacity: .5;
        box-shadow: 0 0 10px #6aff00, 0 0 40px #6aff00, 0 0 80px #6aff00;
      }
      
    } 
  }

}

@media all and (min-width: 200px) and (max-width: 480px) {

  .main-body {

    margin: 0;
    padding: 0;
    
    .container {

      margin: unset;
      padding: unset;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .img {
          all: unset;
          margin-top: 30px;
          .pic {

            all: unset;
            width: 150px;
            
          }
      }

      .card {

        margin: unset;
       
        ul{
          
          li{
          
            margin: unset;
            margin: 30px;
            

            .neon-button {
            
             font-size: 18px;
            }
          }
        }
      }

    }
  }

}

@media all and (min-width: 480px)and (max-width: 768px )  {

  .main-body {
    margin: unset;
    padding: unset;

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;


      .img{
        .pic {
          all: unset;
          width: 250px;
          margin-top: 120px;
        }
      }

      .card {
        margin: unset;
        padding: unset;

        ul {
          li{
            .neon-button {
              font-size: 25px;
              background-color: rgba($color: #000000, $alpha: 0.2);
            }
          }
        }
      }

    }
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  
  .main-body {
    margin: unset;
    padding: unset;
 

    .container {
      margin: unset;
      padding: unset;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;


      .img {
         
         .pic {
          all: unset;
          width: 400px;
          justify-content: center;
          
         }
      }

      .card {
        height: 400px;

        ul {
         
          li{
            margin: unset;
            padding: unset;
            margin: 50px;

            .neon-button {
              font-size: 20px;
              font-weight :500;
            }
          }
        }
      }
    }
  }
}


@media all and (min-width: 1024px) and (max-width: 1280px) {
  
  .main-body {
    margin: unset;
    padding: unset;
 

    .container {
      margin: unset;
      padding: unset;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;


      .img {
         
        .pic {
         all: unset;
         width: 400px;
         justify-content: center;
         margin-left: 120px;
         
        }
     }

      .card {
        height:700px;

        ul {
          li{
            .neon-button {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

@media all and (min-width: 1280px) and (max-width: 1440px) {
  
  .main-body {
    margin: unset;
    padding: unset;
 

    .container {
      margin: unset;
      padding: unset;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;


      .img {

        margin-left: 100%;

         
        .pic {
         all: unset;
         width: 400px;
         justify-content: center;
         
        }
     }

      .card {
        height:600px;

        ul {
          li{
            .neon-button {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}






  






